
.calcButton {
  margin-top: 2%;
}

.calcButton button {
  width: 75px;
  height: 25px;
}

header {
  display: flex;
  justify-content: center;
  background-color: #E6E6E6;
}

.main-app {
  background-color: whitesmoke;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
}

.app-left {
  flex-direction: column;
  display: flex;
  width: 50%;
  border: 1px solid grey;
  background-color: whitesmoke;
  margin-left: .2%;
}

.app-right {
  flex-direction: column;
  display: flex;
  width: 50%;
  text-align: center;
  font-size: 20px;
  border: 1px solid grey;
  background-color: whitesmoke;
  margin-right: .2%;
}

p {
  color: black
}


.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: #E6E6E6;
  border: 1px solid grey;
}



@media screen and (max-width: 700px) {
  input {
    display: block;
  }
}


.message {
  font-weight: bold;
}



.app-data {
  display: flex;

  justify-content: space-around;
  border: 1px solid black;
}

.app-data p {
  padding-left: 1%;
  display: flex;
  border: 1px solid black;
  width: 100%;
}

table, tr, td {
  border: 1px solid;
  display:flex;
  width:100%;
}

table{
  background-color:#E6E6E6;
  width:100%;
  
}

.highlight-price{
  background-color:#e9ff32;
}

a{
  color:black;
}

a:hover{
  color:purple;
}

#result{
  height:23.2vh;
}

.app-data-overall{
  margin-top:1%
}

